{% extends 'base.html' %}
{% load static %}

{% block title %}Blog - The Light Of Diya{% endblock %}

{% block content %}
    <article class="post" style="background-image: url('{% static "assets/images/image.jpg" %}')">
        <div class="overlay">
            <h2>Primeiro Artigo</h2>
        </div>
    </article>

    <article class="post" style="background-image: url('{% static "assets/images/image.jpg" %}')">
        <div class="overlay">
            <h2>Segundo Artigo</h2>
        </div>
    </article>

    <article class="post" style="background-image: url('{% static "assets/images/image.jpg" %}')">
        <div class="overlay">
            <h2>Terceiro Artigo</h2>
        </div>
    </article>
{% endblock %}
