{% extends 'base.html' %}
{% load static %}

{% block title %}Blog - The Light Of Diya{% endblock %}

{% block content %}
<section class="posts-container">
    <article class="post" style="background-image: url('{% static "assets/images/image.jpg" %}')">
        <div class="overlay">
            <h2>Primeiro Artigo</h2>
            <h3>Sub Título</h3>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </article>

    <article class="post" style="background-image: url('{% static "assets/images/image.jpg" %}')">
        <div class="overlay">
            <h2>Segundo Artigo</h2>
            <h3>Sub Título</h3>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </article>

    <article class="post" style="background-image: url('{% static "assets/images/image.jpg" %}')">
        <div class="overlay">
            <h2>Terceiro Artigo</h2>
            <h3>Sub Título</h3>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </article>
</section>
{% endblock %}
