{% extends 'base.html' %}
{% load static %}

{% block title %}Blog - The Light Of Diya{% endblock %}

{% block content %}
<section class="posts-container">
    {% for post in posts %}
        <article class="post" style="background-image: url('{% static "assets/images/image.jpg" %}')">
            <div class="overlay">
                <a  href="{% url 'blog_post' post.slug %}">
                    <h2>{{ post.title }}</h2>
                    <h3>{{ post.subtitle }}</h3>
                    <div class="post-content">
                        <p>{{ post.content|linebreaks }}</p>
                    </div>
                </a>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}
