{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio - The Light Of Diya{% endblock %}

{% block content %}
    <section class="portfolio">
        <div class="project-content header">
            <h1>It’s not about<br> showing more,<br> it’s about seeing better.</h1>
            <p>As a UGC creator, I craft natural, story-driven visuals and videos that reflect real connection — made to feel, not just to sell.</p>
        </div>
        <div class="project-list">
            {% for project in projects %}
            <div class="project big">
                <img src="{% static project.image %}" alt="{{ project.title }}">
            </div>
            {% endfor %}
        </div>
        <div class="project-content">
            <div class="project-content-sub">
                <h1>Handcrafted words</h1>
                <p>Creative, sensitive writing for your blog, website, or editorial project — with nuance, texture, and care.</p>
            </div>
            <div class="project-content-sub">
                <h1>Authentic content creation</h1>
                <p>As a UGC creator, I craft natural, story-driven visuals and videos that reflect real connection — made to feel, not just to sell.</p>
            </div>
            <div class="project-content-sub">
                <h1>Soulful storytelling for brands</h1>
                <p>Hire my agency to shape your brand’s identity and performance marketing — with presence, intention, and beauty.</p>
            </div>
        </div>
        <div class="project-list">
            <div class="project main">
                <img src="{% static 'assets/images/project1.jpg' %}" alt="Projeto 1">
            </div>
            <div class="project">
                <img src="{% static 'assets/images/project2.jpg' %}" alt="Projeto 2">
            </div>
            <div class="project">
                <img src="{% static 'assets/images/project3.jpg' %}" alt="Projeto 3">
            </div>
        </div>
        <div class="project-content footer">
            <h1>How about a <br> chai?</h1>
            <p>As a UGC creator, I craft natural, story-driven visuals and videos that reflect real connection — made to feel, not just to sell.</p>
        </div>
    </section>
{% endblock %}