<header>
    <nav>
        <ul>
            
            <li><a href="/">Home</a></li>
            {% if request.resolver_match.url_name != 'blog' %}
                <li><a href="#about">About</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
            {% endif %}
            <li><a href="/blog/">Blog</a></li>
            {% if request.resolver_match.url_name != 'blog' %}
                <li><a href="#contact">Contact</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
