<header>
    <div class="logo-title">
        <h4><a href="/">The Light Of Diya</a></h4>
    </div>
    <nav>
        <ul>
            {% if request.resolver_match.url_name == 'blog' or request.resolver_match.url_name == 'blog_post' %}
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
            {% elif request.resolver_match.url_name == 'portfolio' %}
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
            {% else %}
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            {% endif %}            
        </ul>
    </nav>
</header>
