{% extends 'base.html' %}

{% block title %}The Light Of Diya{% endblock %}
{% block content %}
    <section class="hero">
        {% load static %}
        <video autoplay muted loop playsinline class="background-video">
            <source src="{% static 'assets/videos/hero.mov' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="hero-header">
            <div class="hero-title">
                <h1>The Light of Diya</h1>
            </div>

            <!-- Ícones sociais no canto superior direito -->
            <div class="social-icons">
                <a target="_blank" href="https://www.instagram.com/the.light.of.diya/" class="icon" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/@TheLightofDiya" class="icon" aria-label="YouTube">
                    <i class="fab fa-youtube"></i>
                </a>
                <a target="_blank" href="#" class="icon" aria-label="TikTok">
                    <i class="fab fa-tiktok"></i>
                </a>
            </div>
        </div>

        <div class="hero-content">
            <h1>This is a journal of small stories, typed slowly <br> — the way light enters a room.</h1>
            <p>
                This is an original digital journal, where every word and image is presented with pause, margin, and intention.
                It’s not an ordinary blog. It’s an aesthetic journal — sensitive, poetic, and personal.
                <strong>Made to be read slowly ...</strong>
            </p>
            <a href="#contact" class="talk-button">Let's Talk</a>
        </div>
    </section>

    <section class="about">
        <h1>Visual writer, everyday observer, image and meaning maker.</h1>
        <p>
            Through The Light of Diya, Andréa shares fragments of the world — small records that reveal beauty, sensitivity, and narrative in all that is simple and real.
        </p>
        <p>
            Através do The Light of Diya, Andréa compartilha fragmentos do mundo — pequenos registros que revelam beleza, sensibilidade e narrativa em tudo o que é simples e real.
        </p>
    </section>
    
    <section class="portfolio">
        <div class="project main">
            <img src="{% static 'assets/images/project1.jpg' %}" alt="Projeto 1">
            <button class="vertical-button">Portfolio</button>
        </div>
        <div class="project">
            <img src="{% static 'assets/images/project2.jpg' %}" alt="Projeto 2">
        </div>
        <div class="project">
            <img src="{% static 'assets/images/project3.jpg' %}" alt="Projeto 3">
        </div>
    </section>

    <section class="contact">
        <h1>Contact me!</h1>
        <p>
            Feel free to reach out for collaborations, inquiries, or just to say hello. 
            I would love to hear from you! <br>
            <strong></strong><a href="mailto:thelightofdiya@gmail.com">TheLightOfDiya@gmail.com</a></strong>
        </p>
        <div class="contact-buttons-container">
            <a href="" class="contact-button">WhatsApp</a>
            <a href="mailto:thelightofdiya@gmail.com" class="contact-button">E-mail</a>
        </div>
    </section>
{% endblock %}
